n1 = int(input())
n2 = int(input())
operation = input()
type = ""
if operation == "+":
    sum = n1 + n2
    if sum % 2 == 0:
        type = "even"
    else:
        type = "odd"
    print(f"{n1} + {n2} = {sum} - {type}")
elif operation == "-":
    sum = n1 - n2
    if sum % 2 == 0:
        type = "even"
    else:
        type = "odd"
        print(f"{n1} - {n2} = {sum} - {type}")
elif operation == "*":
    sum = n1 * n2
    if sum % 2 == 0:
        type = "even"
    else:
        type = "odd"
    print(f"{n1} * {n2} = {sum} - {type}")
elif operation == "/":
    if n2 != 0:
        sum = n1 / n2
        print(f"{n1} / {n2} = {sum}")
    else:
        print(f"Cannot divide {n1} by zero")
elif operation == "%":
    if n2 != 0:
        sum = n1 % n2
        print(f"{n1} % {n2} = {sum}")
    else:
        print(f"Cannot divide {n1} by zero")
